<div class="text-white p"><h1>Congratulations ! The booking request has been sent.</h1></div>

<div class='container'>
  <div class="card-trip">
      <%= cl_image_tag(@reservation.offer.photos.first.key) %>
    <div class="card-trip-infos">
      <div>
        <h2>Details of your reservation:</h2>

        <p>Your host : <%= @reservation.offer.user.first_name  %> <%= @reservation.offer.user.last_name %></p>
        <p>Address : <%= @reservation.offer.address %></p>
        <p>Date of arrival : <%= @reservation.arrival%></p>
        <p>Date of departure : <%= @reservation.departure%></p>
        <p>Status : <%= @reservation.status %></p>
      </div>
      <div class="card-trip-pricing">
      <h2 > <%= @reservation.offer.price  %> £</h2>
      </div>
       <%= image_tag "avatar.png", class: "card-trip-user avatar-bordered", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
  </div>
  </div>


  <div class="container-btns">
    <td><%= link_to 'Destroy', @reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"red-btn" %></td>
    <td><%= link_to 'Back', offers_path, :class=>"purple-btn" %></td>
  </div>

</div>
